* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
aside {
    float: left;
    background-color: #040404;
    border-left: 1px solid grey;
    width: 20%;
    height: 100vh;
}
#title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
#border {
    color: white;
}
#border::before {
    content: "";
    width: 3px;
    height: 15px;
    background-color: #7FFF00;
    position: absolute;
    left:-25px;
    top: 0;
}
.vertical-menu {
    padding-top: 10px;
    padding-left: 30px;
}
.flexbox {
    position: absolute;
    bottom: 0;
    left: 0;
}
li {
    font-size: 16px;
    color: grey;
    padding-bottom: 10px;
    list-style: none;
    position: relative;
}
.white {
    color: white;
    padding-top: 10px;
}
main {
    background-color: darkgrey;
    float: right;
    width: 80%;
    height: 100vh;
}

.container-menu {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    height: 80px;
}
.menu {
    display: inline;
    color: black;
    padding-left: 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.flex-container {
    display: flex;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 80%;
    /* background-color: #f1f1f1; */
}
.flex-container > div {
  margin: 10px;
}
.flex-container > div > p {
  text-align: center;
}
img {
    max-width: 100%;
    border-radius: 50%;
}
.title {
    margin-left: 10%;
}
.title h2 {
    color: white;
    font-size: 30px;
}
